{{#each gearItem}}
<div class='visibleGearItemDetails'>
	<h3>{{item}}</h3>
    <p>Quantity: {{quantity}}</p>
    <p>Weight: {{weight}}</p>
    <a class='deleteGearItem' value='{{_id}}' href='#'>
    	<i class='fa fa-trash' aria-hidden='true'></i>
    </a>
</div>
{{/each}}