<div class='archivedTripDiv'>
	<a href='#' value='{{trip._id}}'>{{trip.trail}}</a>
	<i class='fa fa-trash deleteArchive' value='{{trip._id}}' aria-hidden='true' title='Delete Trip'></i>
	<i class='fa fa-check-circle-o reactivateTrip' value='{{trip._id}}' aria-hidden='true' title='Reactivate Trip'></i>
<div>


                