<div class='archivedTripDiv'>
	<a href='#' value='{{trip._id}}'>{{trip.trail}}</a>
	<i class='fa fa-trash deleteArchive' value='{{trip._id}}' aria-hidden='true'></i>
	<button class='reactivateTrip' value='{{trip._id}}'><i class='fa fa-check-circle-o' ></i>Reactivate Trip</button>
<div>


                