{{#each eachOwner}}
<div><h2 class='gearListOwner' value='{{this}}'>{{this}}</h2><i class='fa fa-angle-right fa-3x showGearList' aria-hidden='true' title='See Gear List'></i><div class='gear-{{this}}gearItemDetails'><div class='visibleGearItemDetails'></div></div>
{{/each}}