
*{
	margin:0;
	padding: 0;
	text-decoration: none;
}

body{
	background: url("background_stars.png");
	background-size: cover;
	background-attachment: fixed;
	overflow: hidden;
}

.loginImg{
	height: 300px;
	width: 300px;
	margin: 45% 9%;
	
}

.actLoginDiv{
	display: none;
	height: 250px;
	width: 200px;
	background-color: black;
	opacity: .8;
	margin:auto;
	margin-top: 40%;
	padding: 40px;
	border-radius: 10%;
	
	grid-template-columns: 1fr 1fr;
	align-items: center;
}

.actLoginDiv label{
	color:white;
	font-size: 20px;
	grid-column: span 2;
}

.actLoginDiv input{
	background: transparent;
	border: none;
	border-bottom: 2px solid white;
	width: 200px;
	color:white;
	grid-column: span 2;
}

.actLoginDiv input:focus{
	border-bottom: 2px solid yellow;
	outline:none;
}

.actLoginDiv button{
	width: 80px;
	height: 25px;
	justify-self:center;
	background: transparent;
	border: solid white 2px;
	color:white;
	border-radius: 10%
}

.actLoginDiv button:hover{
	border: solid 2px yellow;
}

.createTripPage, .dashboardPage, .shareTripPage, .tripDetails{
	display: none;
}

.dashboardPage, .tripDetails{
	position: relative;
	min-height: 400px;
	background-color: lightgrey;
	padding: 30px;
	margin: 15%;
}



.currTripsDiv h1, .sharedTripsDiv h1{
	text-align: center;
	text-decoration: underline;
	margin-bottom: 3%;
}

.currTripsDiv{
	border-bottom: solid 2px black;
	padding: 20px;
	min-height: 200px;
}

.sharedTripsDiv{
	padding: 20px;
	text-align: center;
	min-height: 200px;
}

.tripDiv{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	margin: 2%;
}

.tripDiv .tripName{
	justify-self: center;
	grid-column-start: 1;
	grid-column-end: 3;
}

.deleteTrip{
	justify-self: end;
}

.dashboardToolbar{
	position: absolute;
	bottom: 5%;
	display: grid;
	grid-template-columns: 20% 80%;
	grid-gap: 10px;
}

.dashboardBtns{
	height: 0px;
	overflow: hidden;
}

.togglerClass i{
	margin: 5px;
}

.toolbarIcon{
	align-self: center;
}

.createTripPage{
	height: 300px;
	width: 80%;
	padding: 20px;
	margin-top: 20%;
	background-color: grey;
	border: solid black 5px;
	margin:auto;
}


.tripDetailsDiv, .gearListDiv, .foodListDiv{
	height: fit-content;
	width: 80%;
	padding: 10px;
	margin-top: 20%;
	border: solid 5px black;
	margin: auto;
}



.gearItemDetails, .foodItemDetails{
	border: 1px solid black;
}

.currGearList, .currFoodList{
	height: 0px;
	overflow: hidden;
	
}

.autoPop{
	width: 90%;
}

.colabShare{
	width: 100%;
	height: 25px;
	
	
}

.availUsers{
	width: 100%;
	display: block;
	background-color: white;
	
}

.shareTripPage{
	height: fit-content;
	width: 50%;
	padding: 40px;
	margin: 20%;
	background-color: grey;
	border: solid 5px black;
}

.sharePageGrid{
	display: grid;
	grid-template-columns: 85% 15%;
	grid-gap: 20px;
}

@media  (min-width: 640px){

	.loginImg{
		margin: 8% 32%;
		height: 500px;
		width: 500px;
	}

	.dashboardPage, .tripDetails{
		margin: 7% 15%;
	}

	.actLoginDiv{
		margin-top: 15%;
		width: 250px;
	}

	.actLoginDiv input{
		width: 240px;
	}

	.actLoginDiv button{
		width: 100px;
	}
}

