
*{
	margin:0;
	padding: 0;
	text-decoration: none;
}

html{
	position: relative;
}

body{
	background: url("background_stars.png");
	background-size: cover;
	background-attachment: fixed;
	overflow: hidden;
}

.actLoginPage, .createTripPage, .dashboardPage, .shareTripPage, .tripDetails, .errorMsgPage, .actRegisterPage{
	display: none;
}

.loginImg{
	height: 300px;
	width: 300px;
	display: block;
	margin: auto;
	margin-top: 45%;
}

.actLoginDiv, .actRegisterDiv{
	display: none;
	height: 250px;
	width: 200px;
	background-color: black;
	opacity: .8;
	margin:auto;
	margin-top: 40%;
	padding: 40px;
	border-radius: 10%;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}

.actRegisterDiv{
	height: 300px;
}

.actLoginDiv label, .actRegisterDiv label{
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
	color:white;
	font-size: 20px;
	grid-column: span 2;
}

.actLoginDiv input, .actRegisterDiv input{
	background: transparent;
	border: none;
	border-bottom: 2px solid white;
	width: 200px;
	color:white;
	grid-column: span 2;
}

.actLoginDiv input:focus, .actRegisterDiv input:focus{
	border-bottom: 2px solid yellow;
	outline:none;
}

.actLoginDiv button, .actRegisterDiv button{
	width: 80px;
	height: 25px;
	justify-self:center;
	background: transparent;
	border: solid white 2px;
	color:white;
	border-radius: 10%;
	margin-top: 8px;
}

.actLoginDiv button:hover, .actRegisterDiv button:hover{
	border: solid 2px yellow;
}

.errorMsgDiv{
	height: 250px;
	width: 200px;
	background-color: black;
	opacity: .8;
	margin:auto;
	margin-top: 40%;
	padding: 40px;
	border-radius: 10%;
}

.errorMsgDiv p{
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
	text-align: center;
	margin-top: 30%;
	color: white;
	font-size: 30px;
}


.dashboardPage{
	position: relative;
	height: fit-content;
	min-height: 400px;
	background-color: lightgrey;
	padding: 30px;
	margin: 15%;
}

.tripDetails{
	position: relative;
	min-height: 500px;
	height: fit-content;
	margin: auto;
	margin-top: 10%;
	margin-bottom: 10%;
	width: 70%;
	padding: 20px;
	background-color: white;
	opacity: 0.9;
	color:black;
}

.backToDashboard{
	position: absolute;
	bottom: 5%;
	left: 5%;
}

.currTripsDiv h1, .sharedTripsDiv h1{
	text-align: center;
	text-decoration: underline;
	margin-bottom: 3%;
}

.currTripsDiv{
	border-bottom: solid 2px black;
	padding: 20px;
	min-height: 200px;
}

.sharedTripsDiv{
	padding: 20px;
	text-align: center;
	min-height: 200px;
}

.tripDiv{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	margin: 2%;
}

.tripDiv .tripName{
	justify-self: center;
	grid-column-start: 1;
	grid-column-end: 3;
}

.deleteTrip{
	justify-self: end;
}

.dashboardToolbar{
	position: absolute;
	bottom: 5%;
	display: grid;
	grid-template-columns: 20% 80%;
	grid-gap: 10px;
}

.dashboardBtns{
	height: 0px;
	overflow: hidden;
}

.togglerClass i{
	margin: 5px;
}

.toolbarIcon{
	align-self: center;
}

.createTripPage{
	height: 300px;
	width: 80%;
	padding: 20px;
	margin-top: 20%;
	background-color: grey;
	border: solid black 5px;
	margin:auto;
}

.userGearList, .userFoodList{
	border-top: solid 1px black;
	margin-top: 20px;
}

.gearItemDetails, .foodItemDetails{
	display: grid;
	grid-template-columns: 1fr 1fr;
	width:fit-content;
	padding:20px;
	border-bottom: lightgrey solid 1px;
	justify-items:center;
}

.gearItemDetails h3, .foodItemDetails h3{
	grid-column: span 2;
}

.gearItemDetails p, .foodItemDetails p{
	padding: 5px;
}

.tripDetailsDiv, .gearListDiv, .foodListDiv{
	height: fit-content;
	width: 80%;
	padding: 10px;
	margin-top: 20%;
	margin: auto;
}

.foodListDiv{
	padding-bottom: 20%;
}



.tripDetailsDiv{
	color:black;
	width:fit-content;
	display: grid;
	grid-template-columns: 4fr 1fr 4fr;
	grid-gap: 10px;
	justify-items:center;
	align-items: center;
}

.tripDetailsDiv p{
	margin: 10px;
	text-align: center;
}

.tripDetailsDiv h1{
	grid-column: span 3;
}

.tripDetailsDiv h3{
	grid-column: span 2;
}

.tripDetailsDiv style{
	display: inline;
	border: solid black 2px;
	height: 50px;
	transform: rotate(25deg);
}



.currGearList, .currFoodList{
	height: 0px;
	overflow: hidden;
	
}

.autoPop{
	width: 90%;
}

.colabShare{
	width: 100%;
	height: 25px;
	
	
}

.availUsers{
	width: 100%;
	display: block;
	background-color: white;
	
}

.shareTripPage{
	height: fit-content;
	width: 50%;
	padding: 40px;
	margin: 20%;
	background-color: grey;
	border: solid 5px black;
}

.sharePageGrid{
	display: grid;
	grid-template-columns: 85% 15%;
	grid-gap: 20px;
}

@media  (min-width: 640px){

	.loginImg{
		margin-top: 10%;
		height: 500px;
		width: 500px;
	}

	.dashboardPage{
		margin: 7% 15%;
	}

	.tripDetails{
		margin-top: 6%;
		width: 60%;
		border-radius: 5%;
	}

	.foodListDiv{
	padding-bottom: 10%;
	}
	.actLoginDiv, .errorMsgDiv, .actRegisterDiv{
		margin-top: 15%;
		width: 250px;
		padding: 50px;
	}

	.actLoginDiv input, .actRegisterDiv input{
		width: 240px;
	}

	.actLoginDiv button, .actRegisterDiv button{
		width: 100px;
	}
}

